{% extends 'master/base.html' %}

{% block content %}
<p>Username: {{request.user.username}}</p>
<p>User Type: {{request.user.user_type}}</p>


{% if request.user.user_type == 'Employer' %}
<p>Company Name: {{request.user.employer_profile.company_name}}</p>
<p>Address: {{request.user.employer_profile.address}}</p>
{% else %}
<p>Full Name: {{request.user.seeker_profile.full_name}}</p>
<p>Contact:  {{request.user.seeker_profile.contact_numer}}</p>
<p>Last Education:  {{request.user.seeker_profile.last_education}}</p>
{% endif %}

<a href="{% url 'update_profile' %}">Update Profile</a>

{% endblock content %}
    